.main-col {
	border-radius: 5px;
}

.technologies-img {
	height: 120px !important;
	width: unset;
}

a {
	text-decoration: none !important;
	color: rgb(125, 125, 125);
}

.infoongithub-btn {
	font-size: 1.5rem;
	--bs-bg-opacity: .7;
	color: rgb(255, 255, 255) !important;
}